

.gallery-section {
    padding: 0;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    .gallery-content {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}

.gallery-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-image-conteiner {
    width: calc(100% / 2);
}
@media (max-width: 768px) {
    .gallery-image-conteiner {
        width: 100%;
    }
}