
.contact-us-section {
    background-color: var(--background-color2);
    color: #fff;
}

.contact-us-content {
    display: flex;
    justify-content: space-between;
}

.contact-us-title {
    font-size: 1.7em;
}
@media (max-width: 768px) {
    .contact-us-title {
        margin-bottom: 30px;
    }
}

.contact-us-text {
    width: 60%;
}

.text-top {
    margin-bottom: 20px;
}

.contact-us-button {
    outline: none;
    border: none;
    background-color: var(--background-color4);
    color: black;
    border-radius: 4px;
    padding: 12px 12px;
    font-family: "Roboto";
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}

.contact-us-button:hover {
    background-color: rgb(209, 209, 209);
}